body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(/pic.jpg);
  }
  
  .timer-container {
    margin-top: 50px;
  }
  
  #timer {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  #timer-label {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* break */
  .timer-containers {
    margin-top: 50px;
  }
  
  #timers {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  #timer-labels {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .timer-containerb {
    margin-top: 50px;
  }
  
  #timerb {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  #timer-labelb {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }
  

  .item-descripition {
    padding: 5px;
    width:200px;
    margin-button:10px;

  }

  .item-complelted:checked +.item-descripition {
    background-color: red;
    text-decoration: wavy;

  }

  #add {
    padding: 8 px 14px;
    font-weight: bold;
    color: #ffff;
    background-color: black;
  }

  /* to so list */

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 70%;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  li span {
    flex-grow: 1;
  }
  
  li button {
    padding: 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .options button {
    padding: 10px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options button:hover {
    background-color: #004963;
  }
